<header class="light-bb">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" routerLink="/">
        <!-- <img src="../../../assets/img/logo-dark.svg" class="darkMode" alt="" /> -->
        <!-- <img src="../../../assets/img/logo-light.svg" class="lightMode" alt="" /> -->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#headerNav"
        aria-controls="headerNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="headerNav">
        <ul class="navbar-nav me-auto">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Exchange</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="markets">Markets</a>
          </li> -->
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Dashboard
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown1">
              <li>
                <a class="dropdown-item" routerLink="profile">Profile</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="wallet">Wallet</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="settings">Settings</a>
              </li>
            </ul>
          </li> -->
          <li class="nav-item dropdown">
        
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown2">
              <li>
                <a class="dropdown-item" routerLink="login">Login</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="sign-up">Sign up</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="lock">Lock</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="otp-number">OTP Number</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="otp-verify">OTP Verify</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="reset">Reset</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="404">404</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          
        
          <li class="nav-item dropdown header-img-icon">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="../../../assets/img/avatar.svg" class="header-avatar-image" alt="avatar" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown5">
              <a routerLink="profile">
                <div class="dropdown-header d-flex flex-column align-items-center">
                  <div class="figure mb-3">
                    <img src="../../../assets/img/avatar.svg" alt="" />
                  </div>
                  <div class="info text-center">
                    <p class="name font-weight-bold mb-0">Tony Stark</p>
                    <p class="email text-muted mb-3">tonystark@gmail.com</p>
                  </div>
                </div>
              </a>
              <div class="dropdown-body">
                <ul class="profile-nav">
                  <li class="nav-item">
                    <a routerLink="/profile" class="nav-link">
                      <i class="icon ion-md-person"></i>
                      <span>Profile</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="wallet" class="nav-link">
                      <i class="icon ion-md-wallet"></i>
                      <span>My Wallet</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="settings" class="nav-link">
                      <i class="icon ion-md-settings"></i>
                      <span>Settings</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/" class="nav-link red">
                      <i class="icon ion-md-power"></i>
                      <span>Log Out</span>
                    </a>
                  </li>
                </ul>
              </div>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>